jks.p2dgroup.net/Web References/WEBRef2/FileDownload2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RemoveFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="objFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="strReturn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="RemoveFileSoapIn">
    <part name="parameters" element="s0:RemoveFile" />
  </message>
  <message name="RemoveFileSoapOut">
    <part name="parameters" element="s0:RemoveFileResponse" />
  </message>
  <message name="DownloadFileSoapIn">
    <part name="parameters" element="s0:DownloadFile" />
  </message>
  <message name="DownloadFileSoapOut">
    <part name="parameters" element="s0:DownloadFileResponse" />
  </message>
  <message name="UploadFileSoapIn">
    <part name="parameters" element="s0:UploadFile" />
  </message>
  <message name="UploadFileSoapOut">
    <part name="parameters" element="s0:UploadFileResponse" />
  </message>
  <portType name="FileDownloadSoap">
    <operation name="RemoveFile">
      <input message="s0:RemoveFileSoapIn" />
      <output message="s0:RemoveFileSoapOut" />
    </operation>
    <operation name="DownloadFile">
      <input message="s0:DownloadFileSoapIn" />
      <output message="s0:DownloadFileSoapOut" />
    </operation>
    <operation name="UploadFile">
      <documentation>File Upload Webservice</documentation>
      <input message="s0:UploadFileSoapIn" />
      <output message="s0:UploadFileSoapOut" />
    </operation>
  </portType>
  <binding name="FileDownloadSoap" type="s0:FileDownloadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="RemoveFile">
      <soap:operation soapAction="http://tempuri.org/RemoveFile" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FileDownload">
    <port name="FileDownloadSoap" binding="s0:FileDownloadSoap">
      <soap:address location="http://vns7/WebService-File download2/FileDownload2.asmx" />
    </port>
  </service>
</definitions>