jks.p2dgroup.net/Web References/WEBRef/FileDownload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RemoveFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="objFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="strReturn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="objFile" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="strReturn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strChildBuyer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFileNewResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPageCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiPages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sfile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiPagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMultiPagesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RemoveFileSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveFile" />
  </wsdl:message>
  <wsdl:message name="RemoveFileSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveFileResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileNewSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFileNew" />
  </wsdl:message>
  <wsdl:message name="UploadFileNewSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileNewResponse" />
  </wsdl:message>
  <wsdl:message name="GetPageCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetPageCount" />
  </wsdl:message>
  <wsdl:message name="GetPageCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetPageCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetMultiPagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMultiPages" />
  </wsdl:message>
  <wsdl:message name="GetMultiPagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMultiPagesResponse" />
  </wsdl:message>
  <wsdl:portType name="FileDownloadSoap">
    <wsdl:operation name="RemoveFile">
      <wsdl:input message="tns:RemoveFileSoapIn" />
      <wsdl:output message="tns:RemoveFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input message="tns:DownloadFileSoapIn" />
      <wsdl:output message="tns:DownloadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">File Upload Webservice</documentation>
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileNew">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">New File Upload Webservice</documentation>
      <wsdl:input message="tns:UploadFileNewSoapIn" />
      <wsdl:output message="tns:UploadFileNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageCount">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">GetPageCount</documentation>
      <wsdl:input message="tns:GetPageCountSoapIn" />
      <wsdl:output message="tns:GetPageCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMultiPages">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">GetMultiPages</documentation>
      <wsdl:input message="tns:GetMultiPagesSoapIn" />
      <wsdl:output message="tns:GetMultiPagesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileDownloadSoap" type="tns:FileDownloadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="RemoveFile">
      <soap:operation soapAction="http://tempuri.org/RemoveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileNew">
      <soap:operation soapAction="http://tempuri.org/UploadFileNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageCount">
      <soap:operation soapAction="http://tempuri.org/GetPageCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiPages">
      <soap:operation soapAction="http://tempuri.org/GetMultiPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileDownload">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="FileDownloadSoap" binding="tns:FileDownloadSoap">
      <soap:address location="http://vns75/WebService-File download/FileDownload.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>